[Unit]
Description=Watch file or directory and git commit all changes. run with: systemctl --user --now enable gitwatch@<name>.service

[Service]
EnvironmentFile=-%h/.config/gitwatch/%i.conf
ExecStart=/usr/bin/gitwatch
ExecStop=/bin/true

[Install]
WantedBy=default.target
